<br><br>
<div  class="row justify-content-center align-items-center">
        <div style = "width: 700x; height:700 px; ">
                <img src="{{info.image}}" class="card-img-top"  style = "width: 700x; height:450 px; ">
                <div class="card-body">
                        <h6 class=" text-center ">{{info.ID}}</h6>
                        <h4 class=" text-center ">{{info.mark}}</h4>
                        <h5 class=" text-center ">{{info.name}}</h5>
                        <ul class="list-group list-group-flush text-center">
                                
                                <li class="list-group-item"><img src="../../assets/$.jpg" style = "width: 20px; height:20 px; "> {{info.prix}}</li>
                                <li class="list-group-item"><img src="../../assets/taille.jpg" style = "width: 20px; height:20 px; "> {{info.taille}}</li>

                                <li class="list-group-item"><button (click)="onback()" class="btn btn-primary">Back to clothing</button></li>
                                
                                </ul> 
        
        </div >
        
</div>
       
       